/* === CSS RESET === */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Libre Franklin", sans-serif;
}

img,
svg {
  display: block;
  width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

/* === VARIABLES === */
:root {
  /* COLORS */
  --color-blue: hsl(223, 87%, 63%);
  --color-paleblue: hsl(223, 100%, 88%);
  --color-lightred: hsl(354, 100%, 66%);
  --color-gray: hsl(0, 0%, 59%);
  --color-verydarkblue: hsl(209, 33%, 12%);
  /* FONTS */
  --fw-thin: 300;
  --fw-regular: 600;
  --fw-bold: 700;
}

/* === GENERAL STYLES === */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.fw-thin {
  font-weight: var(--fw-thin);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.container {
  max-width: 400px;
  height: auto;
  text-align: center;
}

.company-logo-container {
  margin: 0px auto;
  width: 86px;
  height: auto;
}

.heading {
  font-size: 3.4rem;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
